#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input_box {
  /* display: flex; */
  align-items: center;
}

.input_box--text {
  flex: 1;
}

.speak-button {
  margin-left: 10px; 
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: #f0f0f0; */
}
